<h2>ngClass</h2>

<p [ngClass]="{ active: myValor, disable: !myValor }">ngClass</p>

<h2>ngStyle</h2>
<p
  [ngStyle]="{
    'font-size': myFontSize ? '30px' : '20px',
    'background-color': colorBg
  }"
>
  ngStyle
</p>

<button (click)="changeValor()">Muda classe</button>

<hr />

<h2>NgModel</h2>

<input [(ngModel)]="nameItem" />

<ul>
  <li *ngFor="let item of items">{{ item.name | uppercase }}</li>
</ul>

<button (click)="addItem()">ADD</button>

<hr />

<h2>ngTemplate</h2>

<ng-template ngFor let-item [ngForOf]="items">
  <p>{{ item.name }}</p>
</ng-template>

<hr />
<ng-content select="h1"></ng-content>
<span>Hello World</span>
<ng-content select="h2"></ng-content>

<hr />

<h2>Pipes</h2>

<p>{{ dateDataPipe | date : "dd/MM/yyyy HH:mm" }}</p>
